In [1]:
import pandas as pd

### Criar uma Series: com letras aleatórias:

In [3]:
s = pd.Series(list('asadadasmadmnoando'))
s

0     a
1     s
2     a
3     d
4     a
5     d
6     a
7     s
8     m
9     a
10    d
11    m
12    n
13    o
14    a
15    n
16    d
17    o
dtype: object

### Método unique() é a mesma coisa do método drop.duplicate(): Ele apaga os elementos repetidos

In [4]:
s.unique()

array(['a', 's', 'd', 'm', 'n', 'o'], dtype=object)

### Método values_counts() -> mostra a frenquencia que cada elemento foi repetido. ou seja distrubição de frequencia:

In [5]:
s.value_counts()

a    6
d    4
n    2
m    2
s    2
o    2
dtype: int64

In [10]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

###  Usando o método unique() na coluna Tipo, para saber os tipos de imóveis.

In [11]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

### Usando o método .value_counts()  é uma funcionalidade aplicável somente a Series. na coluna Tipo para saber a Frequancia que cada um se repete, ou seja, quantidade de cada um. Distribuição de Frequencia

In [12]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

# Exercício:

##### Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

- Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:
- Abaixo temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA. Onde Freq. C e Freq. c são, respectivamente, as frequências de COROAS e de CARAS em cada teste.

#### Abaixo temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA. Onde Freq. C e Freq. c são, respectivamente, as frequências de COROAS e de CARAS em cada teste.

In [13]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [20]:
len(m1)

50

#### Utilizando list() para criar uma listagem de caracteres a partir de uma string.

In [16]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
eventos

{'m1': ['C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c'],
 'm2': ['C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c'],
 'm3': ['C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C'],
 'm4': ['c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C'],
 'm5': ['C',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c']}

#### Passando a variavel eventos para um DataFrame

In [17]:
moedas = pd.DataFrame(eventos)
moedas

   m1 m2 m3 m4 m5
0   C  C  C  c  C
1   C  C  c  C  C
2   c  C  c  C  C
3   C  C  C  c  c
4   C  C  C  c  C
5   c  c  c  C  c
6   c  c  c  C  C
7   C  C  C  c  c
8   C  c  c  c  C
9   C  c  C  C  c
10  c  C  C  C  C
11  c  c  C  c  C
12  C  C  C  c  C
13  c  C  C  C  c
14  C  C  C  C  C
15  c  C  C  c  C
16  c  c  C  c  c
17  C  c  C  c  C
18  c  C  C  c  c
19  C  c  c  C  C
20  c  c  c  c  C
21  C  c  c  C  c
22  C  c  C  c  c
23  C  C  c  C  C
24  c  c  c  c  c
25  C  c  C  C  C
26  C  C  C  c  C
27  c  c  C  C  c
28  c  c  C  c  c
29  c  C  C  C  c
30  C  C  C  c  C
31  C  c  c  C  c
32  c  C  c  C  c
33  C  c  C  C  C
34  c  c  C  C  C
35  C  C  C  c  c
36  c  c  c  c  C
37  C  C  c  c  c
38  c  c  c  c  C
39  c  C  C  C  c
40  c  C  C  C  C
41  C  c  C  C  c
42  C  C  c  c  C
43  c  c  C  C  c
44  C  c  C  C  c
45  c  C  c  c  c
46  c  c  c  C  c
47  c  c  c  C  c
48  C  C  C  C  C
49  c  c  C  C  c

In [28]:
moedas.m1.value_counts()

c    25
C    25
Name: m1, dtype: int64

In [29]:
moedas.m2.value_counts()

c    26
C    24
Name: m2, dtype: int64

In [30]:
moedas.m3.value_counts()

C    31
c    19
Name: m3, dtype: int64

In [31]:
moedas.m4.value_counts()

C    27
c    23
Name: m4, dtype: int64

In [32]:
moedas.m5.value_counts()

c    25
C    25
Name: m5, dtype: int64

#### Crinado  um rotulo (coluna) Faces,  index: c e C e duas linhas	Cara e Coroa

In [18]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
df

   Faces
c   Cara
C  Coroa

#### Percorrendo cada item do DataFrame moedas e concatenando minha coluna Faces, linha Cara e Cora, indx c e C com o DataFrame moedas onde será contado quantas vezes se repete c e C em cada coluna.

In [19]:
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

#### OU Criando tudo em um dicionário direto no DataFrame:
- Na minha opnião melhor forma de fazer.

In [33]:
df = pd.DataFrame({'Faces' : ['Coroa', 'Cara'],
                   'm1' : pd.Series(list(m1)).value_counts(),
                  'm2' : pd.Series(list(m2)).value_counts(),
                  'm3' : pd.Series(list(m3)).value_counts(),
                  'm4' : pd.Series(list(m4)).value_counts(),
                  'm5' : pd.Series(list(m5)).value_counts(),})
df

   Faces  m1  m2  m3  m4  m5
C  Coroa  25  24  31  27  25
c   Cara  25  26  19  23  25